@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* body {
  background-color: #ec1c1c;
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;

} */


/* Asegurar que todos los elementos ocupen el ancho completo */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

/* Elimina márgenes laterales de las secciones */
section {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box; /* Considerar padding en el cálculo del ancho */
}

section {
  background-color: transparent; /* Elimina colores de fondo no deseados */
  border: none; /* Elimina bordes */
}
