/* CSS */
.policy-page {
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f9f9f9;
  padding: 2rem;
  margin: 0 auto;
}

.policy-header {
  text-align: center;
  margin-bottom: 2rem;
}

.policy-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #444;
}

.policy-header p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}

.policy-section {
  margin-bottom: 3rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.policy-section h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #f4c20f;
  margin-bottom: 1rem;
}

.policy-section ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  color: #555;
}

.policy-section ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .policy-header h1 {
      font-size: 2rem;
  }

  .policy-section h2 {
      font-size: 1.5rem;
  }
}
