/* Sección principal */
.about-us-section {
  background-color: #f9f9f9; /* Fondo claro */
  padding: 5rem 0;
}

/* Título de la sección */
.section-title-aboutUs {
  font-family: "Poppins", sans-serif; /* Fuente moderna */
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000; /* Amarillo brillante */
  text-align: center;
  margin-bottom: 1.5rem;
}
.section-title-aboutUs::after {
  content: "";
  width: 80px;
  height: 4px;
  background-color: #FFD700;
  display: block;
  margin: 0 auto; /* Centra el subrayado */
  position: absolute; /* Permite posicionamiento relativo al título */
  bottom: -10px; /* Ajusta la distancia exacta debajo del texto */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Compensa el ancho para centrarlo */
}

/* Descripción */
.section-description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

/* Tarjetas de información */
.info-cards {
  font-family: "Poppins", sans-serif; /* O Roboto/Lato como alternativa */
  font-size: 0.85rem; /* Tamaño de fuente cómodo para lectura */
  font-weight: 400; /* Peso ligero */
  color: #555555; /* Gris suave */
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.info-card {
  background-color: #FFD700;
  padding: 0.5rem; /* Reduce el relleno interno */
  border-radius: 8px;
  text-align: center;
  color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra más ligera */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 0.85rem; /* Reduce el tamaño de la fuente */
  min-height: 110px; /* Reduce la altura mínima de la tarjeta */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura una distribución limpia del contenido */
}

.info-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.info-card p {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.5rem;
  color: #333;
}

.card-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #000;
}

/* Imagen */
.image-section img {
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}




/* Responsividad */
@media (max-width: 768px) {
  .info-cards {
    flex-direction: column;
    gap: 1.5rem;
  }

  .section-title {
    font-size: 2rem;
    text-align: center;
  }

  .section-description {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .info-card {
    padding: 1.5rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .section-description {
    font-size: 1rem;
  }

  .card-icon {
    font-size: 2rem;
  }
}