/* Sección principal */
.benefits-section {
  background-color: #fff; /* Fondo blanco */
  padding: 4rem 1rem;
}

/* Logo */
.logo-container {
  position: relative;
}

.logo-image {
  max-width: 180px;
  margin-bottom: 1.5rem;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Títulos y descripción */
.section-title-beneficios {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #FFD700; /* Cambia el color del texto a #FFD800 */
  position: relative; /* Necesario para posicionar la línea */

}

.section-title-beneficios::after {
  content: ""; /* Crea la línea */
  display: block;
  width: 80px; /* Ajusta el ancho de la línea */
  height: 4px; /* Ajusta el grosor de la línea */
  background-color: #FFD800; /* Color de la línea */
  margin: 0 auto; /* Centra la línea */
  margin-top: 10px; /* Espaciado entre el texto y la línea */
}


.section-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
  line-height: 1.6;
}

/* Tarjetas de beneficio */
.benefit-card {
  background-color: #FFDF59;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  margin: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.benefit-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.benefit-card h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #333;
}

/* Íconos */
.icon-benefit {
  font-size: 3rem;
  color: #000;
}

/* Responsividad */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .section-description {
    font-size: 1rem;
  }

  .benefit-card {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .logo-image {
    max-width: 140px;
  }

  .icon-benefit {
    font-size: 2.5rem;
  }

  .section-title {
    font-size: 1.8rem;
  }
}
