
.hero-section {
  background-color: #f8f9fa; /* Fondo claro */
  padding: 2rem 1rem; /* Más espacio en el contenedor */
  width: 100%;
  margin: 0; /* Elimina márgenes externos */
}


.container {
  max-width: 100%; /* Elimina restricciones de ancho */
  padding: 0; /* Sin espacio interno */
  margin: 0 auto; /* Centrar el contenido */
}
.hero-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.player-container {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-container {
  text-align: center; /* Centra horizontalmente el texto */
  margin: auto; /* Centra verticalmente el texto */
}


.hero-subtitle {
  color: #f1c40f; /* Amarillo similar */
  font-size: 1.4rem;
  font-weight: 800; /* Más bold */
  margin-bottom: 1rem;
}




.hero-title {
  font-family: "Poppins", sans-serif; /* Tipografía consistente */
  line-height: 1.3; /* Aumenta la legibilidad */

  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin-bottom: 1.5rem;
}

.hero-text {
  color: #6c757d; /* Gris tenue */
  font-size: 1.2rem; /* Aumenta el tamaño */
  margin-top: 1rem;
}

.hero-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* Botón Estilizado con Colores Uniformes */
.button {
  font-family: "Poppins", sans-serif; /* Consistencia en la fuente */
  font-size: 1rem;

  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  margin: 0 auto; /* Asegura que el botón esté centrado en el contenedor */
  padding: 10px 20px;
  background-color: #f4d03f;
  border: 4px solid #d4ac0d;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.text {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.hero-text {
  color: #6c757d; /* Gris tenue */
  font-family: "Poppins", sans-serif; /* Tipografía consistente */
  font-size: 1.2rem;
  margin-top: 2rem; /* Más espacio entre el texto y el botón */
}

.svg {
  padding-top: 2px;
  height: 100%;
  width: fit-content;
}

.svg svg {
  width: 25px;
  height: 15px;
}

.button:hover {
  border: 4px solid #f5c91a; /* Amarillo más vibrante */
  background-color: #f7dc6f; /* Amarillo claro */
}

.button:active {
  border: 3px solid #d4ac0d; /* Mantiene el contraste */
}

.button:hover .svg svg {
  animation: jello-vertical 0.9s both;
  transform-origin: left;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}